

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="main">

    <div class="roomInfo">
       <h1> Welcome</h1>
    </div>
    
    <% result.forEach(function(item) { %> 
            <div class="itemShow">
               <img src="../<%= item.image %>" alt="<%= item.image %>" class="itemImage"/>
               <br>
               <a href="/rooms/<%= item.id %>"><%= item.whatRoom %></a>

               
            </div>
            <% }); %>
</div>

</body>
</html>








   